[package]
name = "gst-plugin-zenoh"
version = "0.1.0"
authors = ["Marc Pardo <p13marc@gmail.com>"]
license = "MPL-2.0"
description = "GStreamer Plugin for Zenoh"
repository = "https://github.com/p13marc/gst-plugin-zenoh.git"
edition = "2021"

[lib]
name = "gstzenoh"
crate-type = ["cdylib", "rlib"]
path = "src/lib.rs"

[dependencies]
zenoh = "1"
thiserror = "2.0.4"
gst = { package = "gstreamer", version = "0.24.2" }
gst-base = { package = "gstreamer-base", version = "0.24.2" }
futures = "0.3.30"


[dev-dependencies]
anyhow = "1"
futures = "0.3"

[build-dependencies]
gst-plugin-version-helper = "0.8.2"
